@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  background-image: url(img/bg.jpg);
  font-size: 1.6rem;
  background-position: left;
}

.section-accordion {
  padding: 9rem 0;

  min-height: 100vh;
  max-width: 80rem;
  margin: 0 auto;
}

.heading-secondary {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 6rem;
  text-align: right;
  border-bottom: 3px solid #ff215a;

  float: right;
}

.accordion {
  max-width: 80rem;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  clear: both;
  color: #fff;
}

.accordion__item {
  position: relative;
  margin: 2px 0;
}

.accordion__label {
  display: block;
  padding: 2.5rem 3.5rem 2.5rem 2rem;
  cursor: pointer;
  position: relative;
  background-color: #9c9c9c77;
  backdrop-filter: blur(7px);
  font-weight: 500;
}

.accordion__label span {
  margin-right: 1rem;
}

.accordion__label::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 22px;
  color: #ff215a;
  font-weight: 700;
}

.accordion__content {
  position: relative;
  padding: 0 2rem 0 2rem;

  overflow: hidden;
  height: 0;
  transition: all 0.3s;
  overflow: hidden;
  opacity: 0;

  font-size: 1.5rem;
  background-color: #f7f7f780;
  background-color: #9c9c9c4b;
  backdrop-filter: blur(7px);
}

.accordion__content p {
  border-left: 3px solid #ff215a;
  padding-left: 2rem;
}

.accordion__item--active .accordion__content {
  height: 14rem;
  padding: 2rem;

  opacity: 1;
}

.accordion__item--active .accordion__label::after {
  content: "-";
}

@media (max-width: 850px) {
  html {
    font-size: 55%;
  }
  .section-accordion {
    padding: 8rem 1rem;
    width: 100vw;
  }

  .heading-secondary {
    font-size: 2.5rem;
  }

  .accordion__item--active .accordion__content {
    margin-left: 0rem;
  }
}

@media (max-width: 350px) {
  .accordion__item--active .accordion__content {
    height: 19rem;
  }
}
