@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
  font-size: 1.6rem;
}

.section-accordion {
  padding: 8rem 0;

  min-height: 100vh;
  max-width: 80rem;
  margin: 0 auto;
}

.heading-secondary {
  background-image: linear-gradient(
    to right,
    rgb(248, 94, 38),
    rgb(192, 52, 2)
  );
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 6rem;
}

.accordion {
  max-width: 80rem;
  margin: 0 auto;
}

.accordion__item {
  position: relative;
  margin: 2px 0;
  border-bottom: 1px solid #ddd;
}

.accordion__label {
  display: block;
  padding: 2.5rem 3.5rem 2.5rem 2rem;
  cursor: pointer;
  position: relative;

  font-weight: 500;
}

.accordion__label span {
  margin-right: 1rem;
}

.accordion__label::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 22px;
  color: orangered;
  font-weight: 700;
}

.accordion__content {
  position: relative;
  padding: 0 2rem 0 12rem;
  padding-left: 100rem;
  overflow: hidden;
  height: 0;
  transition: all 0.3s;
  overflow-y: hidden;
  opacity: 0;
  color: #666;
  font-size: 1.5rem;
}

.accordion__content p {
  border-left: 3px solid orangered;
  padding-left: 2rem;
}

.accordion__item--active .accordion__content {
  height: 14rem;
  padding: 2rem;
  margin-left: 12rem;
  opacity: 1;
}

.accordion__item--active .accordion__label::after {
  content: "-";
}

@media (max-width: 850px) {
  html {
    font-size: 55%;
  }
  .section-accordion {
    padding: 8rem 1rem;
    width: 100vw;
  }

  .heading-secondary {
    font-size: 2.5rem;
  }

  .accordion__item--active .accordion__content {
    margin-left: 0rem;
  }
}

@media (max-width: 350px) {
  .accordion__item--active .accordion__content {
    height: 19rem;
  }
}
